.activity-stream{
  list-style-type: none;
  margin: 2em 3em ;
  padding: 0;
  /* vert line through icons */
  border-left: 2.5px solid #ccc;
  padding-left: 1.5em;

  li{
    border: 3px solid black;
    background-color: #FDEAFF;
    color: black;
    padding: 1em 1em 1.5em 3em;
    margin: 1em;
    display: block;
    position: relative;
    word-wrap: break-word;

    h4 > .titl{
      position: relative;
      font-size: 20px;
    }
    p > .rate {
      position: relative;
      left: 200px;
      font-size: 15px;
      font-style: italic;
    }
    cite {
      position: relative;
      font-size: 20px;
      color: black;

    }
    .icon{
      height: 40px;
      width: 40px;
      padding: 3px 4px;
      color: #fff;
      box-sizing: border-box;
      display: block;
      background: #53b2ea;
      position: absolute;
      left: -1.35em;
      top: -0.1em;
    }

    &:before,
    &:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-left: 0;
    }



    &:before{
      top: 1em;
      left: -8px;
      border-right-color: #aaa;
      border-width: 7px;
    }
    /* Fill */
    &:after{
      top: 1em;
      left: -7px;
      border-right-color: white;
      border-width: 7px;
    }
  }
}


.button {
  background-color: #008FFF;
  color: black;
  border: 2px solid black;
}

.button:hover {
  background-color: black;
  color: white;
}


