
$background: #eee;
$black: #222222;
$white: #ffffff;

$default: #fff;
$defaultTextColor: #222222;
$defaultSecondaryTextColor: #eee;


$yellow: #F9A825;
$yellowTextColor: $black;
$yellowSecondaryTextColor: #FBC02D;


body {
  background: $background;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.container {
  max-width: 800px;
  margin: 80px auto;
}
.text-center {
  text-align: center;
}

.quote-card {
  background: $default;
  color: $defaultTextColor;

  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba($black, 0.12);

  position: relative;
  overflow: hidden;
  min-height: 120px;

  p {
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
  }

  cite {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
  }

  &:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba($defaultSecondaryTextColor, 0.8);
    font-weight: normal;
  }

  &:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: rgba($defaultSecondaryTextColor, 0.8);
    font-weight: normal;
  }

  @media(max-width: 640px) {
    &:after {
      font-size: 22em;
      right: -25px;
    }
  }


  &.yellow-card {
    background: $yellow;
    color: $yellowTextColor;
    box-shadow: 0 13px 12px rgba($black, 0.12), 0 2px 4px rgba($black, 0.24);
    word-wrap: break-word;

    &:before, &:after {
      color: $yellowSecondaryTextColor;
    }
  }
}


.credits {
  margin-top: 80px;
  a {
    color: $black;
    text-decoration: none;
    text-shadow: 0 0 2px rgba($black, 0.24);
    padding-bottom: 1px;
    display: inline-block;
    border-bottom: 1px dashed rgba($black, 0.24);
    opacity: 0.6;

    transition: 0.3s all ease-in;


    &:hover {
      border-bottom-style: solid;
      opacity: 1;
    }
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  float: left;
}

.button {
  background-color: #008FFF;
  color: black;
  border: 2px solid black;
}

.button:hover {
  background-color: black;
  color: white;
}