
<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
        <form ng-submit="login(loginForm)" role="form" ng-init="loginForm = {}">
          <div class="form-group">
            <label class="item item-input">
                <input type="email" name="email" placeholder="email" ng-model="loginForm.email">
            </label>
          </div>
          <div class="form-group">
            <label class="item item-input">
                <input type="password" name="password" placeholder="Password" ng-model="loginForm.password">
            </label>
          </div>
          <button type="submit" class="button button-block button-calm">Login</button>
    </form>
  </ion-content>
</ion-view>
