<ion-view view-title="Mood  ">
  <ion-content>
    <div class="list card">

<ion-slide-box ng-init="lockSlide()">
  <ion-slide ng-repeat="n in quotes.quotes" name="slideBox">


    <h4>{{n.quote}}</h4>
    <p>{{$index}}</p>
    
    <div class="item range" name="slideInput">
      <i class="icon ion-sad-outline"></i>


      <input type="range" id="range{{$index}}" min="0" max="100" ng-model="mood[$index]" ng-model-options="{ getterSetter: true }">


      <i class="icon ion-happy-outline"></i>
    </div>

    
    <button class="button icon-right ion-chevron-right button-calm" ng-click="nextSlide()">Next</button>
    <button ng-if="!$first" class="button icon-right ion-chevron-left button-calm" ng-click="previousSlide()">Previous</button>


  </ion-slide>

  <ion-slide>
      <h2> RESULTS:</h2> <br/>

        <span ng-repeat="n in quotes.quotes">{{mood[$index]}} </span>

        <br>


      <button class="button icon-right ion-chevron-left button-calm" ng-click="previousSlide()">Previous slide</button>
  </ion-slide>
    


</ion-slide-box>

</div>
  </ion-content>
</ion-view>



