<ion-view view-title="Mood">
  <ion-content>
    <div class="list card">

<ion-slide-box ng-init="lockSlide()" ng-hide="data==null">
  <ion-slide ng-repeat="question in data.questions" ng-init="init()" name="slideBox">

    <div class="item item-text-wrap">
      <p><strong>{{question.question}}</strong></p>
    </div>

    <div class="item range" name="slideInput">
      <i style="color:#ff6666" class="icon ion-sad-outline"></i>
      <input type="range" id="range{{$index}}" min="0" max="100" ng-model="mood[$index]" ng-model-options="{ getterSetter: true }">
      <i style="color:#66b266" class="icon ion-happy-outline"></i>
    </div>
    <div class="item">
      <center>
        <button ng-if="!$first" class="button button-outline button-calm" ng-click="previousSlide()">Previous</button>
        <button class="button button-outline button-positive" ng-click="nextSlide()">Next</button>
      </center>
    </div>
    <div class="item">
      <br>
    </div>

  </ion-slide>

  <ion-slide>
    <div class="item">
      <center>
        <strong> Results</strong>
      </center>
    </div>
    <div class="item">
        <center>
          <span ng-repeat="n in quotes.quotes">{{mood[$index]}} </span>
        </center>
    </div>
    <div class="item">
      <center>
        <button ng-if="!$first" class="button button-outline button-calm" ng-click="previousSlide()">Previous</button>
        <button class="button button-outline button-balanced" ng-click="showArticle()">Finish</button>
      </center>
    </div>
  </ion-slide>



</ion-slide-box>

</div>
  </ion-content>
</ion-view>
