

<ion-view view-title="Public Feed">
<ion-nav-buttons side="right">
      <button class="button button-icon icon ion-android-add" ng-click="addEntry()"></button>
</ion-nav-buttons>


<ion-content>

  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

    <ion-list>
      <ion-item ng-repeat="publicFeed in publicFeeds | orderBy:'-id'" >
      <div class="item">
    <h2>{{publicFeed.title}}</h2>

  </div>

  <div class="item item-body">
    <p>
      {{publicFeed.content}}
    </p>
    <p>
    </p>
  </ion-item>
  </ion-list>
</ion-content>



  <!-- ----------------------------- -->

  <script id="modal.html" type="text/ng-template">
  // <form name="posting" novalidate ng-submit="save()"
    <div class="modal">
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Create Post</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content>
            <div class="padding">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Title" ng-model="post.title">
                    </label>
                    <label class="item item-input">
                      <textarea placeholder="Add a post...." style="height: 40vh;" ng-keypress="updateEditor()" ng-model="post.content" ng-model="bar"> </textarea>
                    </label>
                    <button ng-clicked="save()" class="button button-block button-positive activated">Post</button>
                </div>
            </div>
        </ion-content>
    </div>
</script>

</ion-view>
