
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Mood Tab -->
  <ion-tab title="Mood" icon-off="ion-happy-outline" icon-on="ion-happy-outline" href="#/tab/mood">
    <ion-nav-view name="tab-mood"></ion-nav-view>
  </ion-tab>

  <!-- Diary Tab -->
  <ion-tab title="Diary" icon-off="ion-ios-bookmarks" icon-on="ion-ios-bookmarks" href="#/tab/diary">
    <ion-nav-view name="tab-diary"></ion-nav-view>
  </ion-tab>

  <!-- Progress-->
  <ion-tab title="Progress" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/progress">
    <ion-nav-view name="tab-prog"></ion-nav-view>
  </ion-tab>

</ion-tabs>
