<head xmlns="http://www.w3.org/1999/html"><link rel="stylesheet" type="text/scss" href="sessions.css.scss"></head>
<% @page_title = "Moderator | Home" -%>
<div class="column">
<ul>
  <li>
    <a class="btn btn-home" href="/quotes">
      <i class="fa fa-quote-right icon fa-5x"></i>
      <p>Quotes</p>
  </a>
  </li>
  <li>
    <a class="btn btn-home" href="/articles">
      <i class="fa fa-newspaper-o icon fa-5x"></i>
      <p>Articles</p>
    </a>
  </li>
  <li>
    <a class="btn btn-home"  href="/publicfeeds">
      <i class="fa fa-users icon fa-5x"></i>
      <p>Public Feed</p>
    </a>
  </li>
  </ul>
</div>
<div class="column">
  <article class="art_hm">
  <div class="thmb" >
    <img class="home_im" src="/appy_logo.jpg">
  </div>
    <div class="panel-body">
    <h1><b>Hello </b><i class="fa fa-smile-o icon"></i></h1>
      <p>Welcome to the Keep Appy managment console, from here you can add, edit and delete
        quotes, articles or posts from the public feed
      </p>
    </div>
</article>
</div>
