<% @page_title = "Moderator | Home" -%>
<div class="jumbotron">
	<center>
		<h2>Management Console</h2>
		<p>What would you like to manage?</p>
	</center>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/printingpress.png" alt="...">
      <div class="caption">
        <p><center><a class="btn btn-primary" href="/articles">Manage Articles</a></center></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/trump.jpg" alt="...">
      <div class="caption">
        <p><center><a class="btn btn-primary" href="/quotes">Manage Quotes</a></center></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
   <div class="thumbnail">
     <img src="/robespierre.jpg" alt="...">
     <div class="caption">
       <p><center><a class="btn btn-primary" href="/publicfeeds">Manage  Public Feed</a></center></p>
     </div>
   </div>
  </div>
</div>
