/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
.navbar-brand > img {
   /* max-height: 100%;*/
    padding: 0;
    height: 40px;
    width: 160px;

}

.navbar-nav > li {
    border-right: 1px solid #bbb;

}


.navbar-nav li a.active {
    color: white;
    background-color: #00ee00;
}

i {
  /*  float: right;*/
    color: yellow;
    background-color: #00b3ee;
}

.navbar-collapse > a >  img {
    position: relative;
    float: right;
    padding-left: 5px;
    border-left: 1px solid #bbb;
    height: 50px;
    width: 50px;
}

.navbar-nav > li > a > img {
    position: relative; /* Declared position allows for location changes */
    top: -10px; /* Moves the image 2px closer to the top of the page */
}