
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.navbar-nav {
    height: 40px;
}

.navbar-collapse {
    background-color: #222222;
    height: 40px
}

.navbar-nav > li {
    font-size: 30px;
    border-right: 1px solid #bbb;

}


.navbar-nav li a.active {
    color: white;
}

.hm_but {
    height: 50px;
}


.navbar-collapse > a >  i {
    position: relative;
    float: right;
    background-color: #222222;
    color: white;
    padding-left: 5px;
    border-left: 1px solid #bbb;
    height: 50px;
    width: 40px;
}

.navbar-nav > li > a > i {
    background-color: #222222;
    color: white;
    position: relative;
    top: -20px;
    height: 30px;
}